<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 text-center" style="border:1px solid red;">
        div 1<br />div 1<br />div 1<br />div 1<br />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 text-center" style="border:1px solid red;">
        div 2<br />div 2<br />div 2<br />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 text-center" style="border:1px solid red;">
        div 3<br />div 3<br />div 3<br />div 3<br />div 3<br />div 3<br />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 text-center" style="border:1px solid red;">
        div 4<br />div 4<br />div 4<br />div 4<br />div 4<br />div 4<br />div 4<br />div 4<br />div 4<br />
        div 4<br />div 4<br />div 4<br />div 4<br />div 4<br />div 4<br />div 4<br />div 4<br />div 4<br />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 text-center" style="border:1px solid red;">
        div 5<br />div 5<br />div 5<br />div 5<br />div 5<br />div 5<br />
    </div>

</div>
