.bordered {
border:1px solid #dddddd;
/*border-left: none;*/
}
ul#divTabs li a {
outline:none;
}
/*
div#divProfile {
    position: relative;
    padding-left: 200px;
}
 
div#divProfile > div {
    min-height: 300px;
}
 
div#divProfile .ui-tabs-nav {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 200px;
    padding: 5px 0px 5px 5px;
}
 
div#divProfile .ui-tabs-nav li {
    left: 0px;
    width: 195px;
    border-right: none;
    overflow: hidden;
    margin-bottom: 2px;
}
 
div#divProfile .ui-tabs-nav li a {
    float: right;
    width: 100%;
    text-align: right;
}
 
div#divProfile .ui-tabs-nav li.ui-tabs-selected {
    border: none;
    border-right: solid 1px #fff;
    background: none;
    background-color: #fff;
    width: 200px;
}
*/