
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error401</title>
</head>
<body>
    <div class="text-center"> 
        Your Status Code:  @ViewBag.StatusCode
    </div>
</body>
</html>
